@model List<OrderListViewModel>

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>
            Pizza Name
        </th>
        <th>
            User
        </th>
    </tr>

    <tbody>
        @foreach (var order in @Model)
        {
            <tr>
                <td>@order.PizzaName</td>
                <td>@order.UserFullName</td>
            </tr>

        }
    </tbody>
</table>

<h4>@ViewData["Message"]</h4>
<h4>@ViewData["FirstUser"]</h4>


